* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.body-app {
    background: white;
    color: black;
    margin: 0 auto;
    overflow-x: hidden; /*Disable horizontal scroll*/
}

.news-pane {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.news-card-row {
    margin-left: 20rem;
    margin-right: 10rem;
    margin-top: 1rem;
    max-height: 15rem;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 2rem 2rem;
}

.news-card-row:hover {
    background-color: #DFE2FF;
}

.news-card-row h1 {
    font-size: 30px;
}

.news-image {
    width: 10rem;
    height: 10rem;
    border-radius: 6px;
}

.news-card-col {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.like-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    fill: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: transform 0.2s;
}

.like-button img {
    width: 25px;
    height: 25px;
}

.like-button:hover {
    transform: scale(1.1);
}

.like-button.liked {
    color: red;
    
}