* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.body-app {
    background: white;
    color: black;
    margin: 0 auto;
    overflow-x: hidden; /*Disable horizontal scroll*/
}

.news-card {
    margin-left: 20rem;
    margin-right: 10rem;
    margin-top: 3rem;
    max-height: 20  rem;
    border-radius: 10px;
}

.news-card:hover {
    background-color: #DFE2FF;
}

.news-card h1 {
    font-size: 40px;
}