* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.body-homepage {
    background: #5653FF;
    color: black;
    margin: 0 auto;
    overflow-x: hidden; /*Disable horizontal scroll*/
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100wh;
    flex: 1
}

.content-left {
    padding-top: 2rem;
    padding-left: 8rem;
    position: relative;
}

.content-right {
    padding-top: 2rem;
    padding-left: 10rem;
    position: relative;
    float: right;
    margin-right: 7rem;
}

.nav {
    background-color: #4543c7;
    color: white;
    display: flex;
    align-items: stretch;
    gap: 5rem;
    /*minimum hor. space between elements*/
    padding: 0 1.5rem;
    /*space from edges of navbar (y, x)*/
    position: fixed;
    width: 100%;
    z-index: 10;
}

.site-title {
    position: relative;
    margin-top: 0.1rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.nav ul {
    position: relative;
    left: -3rem;
    margin: 0;
    list-style: none;
    /*Remove bullet points*/
    display: flex;
    /* gap: 3rem; */
}

.nav li a {
    cursor: pointer;
    padding: 0.5rem 3rem;
}

/*anchor tag: for links <a>*/
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

li > .active {
    background-color: #282686;
}

.nav li:hover {
    background-color: #6866c0;
}

.bg-circle {
    position: absolute;
    z-index: -1;
}

.globe {
    float: right;
    position: absolute;
    height: 500px;
    width: auto;
    top: 8rem;
    left: 70rem;
}

.news-stress {
    float: left;
    position: absolute;
    height: 500px;
    width: auto;
    top: 10rem;
    left: -60rem;
}

.app-demo {
    position: absolute;
    height: 400px;
    width: auto;
    top: 15rem;
    left: 45rem;
}

h1 {
    font-size: 3rem;
}

.big-text {
    margin-top: 8rem;
    z-index: 100000;
}

.small-text {
    font-size: 18px;
    line-height: 30px;
    width: 30rem;
    z-index: 100000;
}

.start-now-btn {
    background-color: #3159E4;
    color: white;
    padding: 10px 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    width: 7rem;
    transition: transform .2s;
    position: absolute;
    cursor: pointer;
}

.start-now-btn:hover {
    transform: scale(1.1);
}

.displayHorizontally {
    float: left;
}

.contact-icon {
    width: 25px;
    height: 25px;
}

.footer-section-padding {
    padding: 4rem 4rem;
}

.contact-footer {
    background-color: #4543c7;
    display: flex;
    flex-direction: column;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.col {
    width: 30rem;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

.footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.footer-credits {
    display: flex;
    flex-direction: row;
}

.footer-credits a {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

.footer-copyright {
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}

.list-unstyled {
    list-style: none;
}