* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #5653FF;
    color: black;
    margin: 0 auto;
}

.content {
    padding-top: 2rem;
    padding-left: 8rem;
    position: relative;
}

.nav {
    background-color: #4543c7;
    color: white;
    display: flex;
    align-items: stretch;
    gap: 5rem;
    /*minimum hor. space between elements*/
    padding: 0 1.5rem;
    /*space from edges of navbar (y, x)*/
}

.site-title {
    position: relative;
    margin-top: 0.1rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav ul {
    position: relative;
    left: -3rem;
    padding: 0;
    margin: 0;
    list-style: none;
    /*Remove bullet points*/
    display: flex;
    /* gap: 3rem; */
}

.nav li {
    padding: 0.5rem 3rem;
}

/*anchor tag: for links <a>*/
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #282686;
}

.nav li:hover {
    background-color: #6866c0;
}

.bg-circle {
    position: absolute;
    height: 1200px;
    width: 1200px;
    z-index: -2;
    top: -32rem;
    left: -23rem;
}

.globe {
    position: absolute;
    height: 500px;
    width: auto;
    top: 10rem;
    left: 55rem;
}

h1 {
    font-size: 3rem;
}

.big-text {
    margin-top: 8rem;
}

.small-text {
    font-size: 18px;
    line-height: 30px;
    width: 30rem;
}

.start-now-btn {
    background-color: #3159E4;
    color: white;
    padding: 10px 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    width: 7rem;
    transition: transform .2s;
}

.start-now-btn:hover {
    transform: scale(1.1);
}